<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.mall.mapper.Mapper" >
  <select id="showgoosinfo" resultType="map">
    select gdname,price,gimgurl,stname from goodsinfo g,goodsprice s,storeinfo si
    where g.gdid=s.gdid and g.stid=si.stid and s.utid=1 order by g.gdid
  </select>

  <select id="useronline" resultType="map">
    select u.userid,username,state,date,grade,name,gender,birthday,avatarurl from user u,userinfo ui
    where u.userid=ui.userid and username=#{username}
  </select>

  <select id="mallshowgoosinfo" resultType="map">
    select gdname,price,gimgurl,stname from goodsinfo g,goodsprice s,storeinfo si
    where g.gdid=s.gdid and g.stid=si.stid and s.utid=1 and gtkeywords like #{keywords} order by g.gdid
  </select>
<!--  <select id="search" resultType="map">
    select u.userid,username,state,date,grade,name,gender,birthday,avatarurl from user u,userinfo ui
    where u.userid=ui.userid and username=#{username}
  </select>-->
</mapper>




